* text=auto eol=lf
*.sh text eol=lf
mvnw text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
mvnw.cmd text eol=crlf
gradlew text eol=lf
gradlew.bat text eol=crlf
*.jar binary
*.png binary
*.so binary
*.dylib binary
*.a binary
